In [1]:
import pandas as pd
bllb = "billboard_2000_2017_spotify_clean.csv"
bllb_df = pd.read_csv(bllb)
bllb_df.head()

,date,year,title,simple_title,artist,main_artist,peak_pos,last_pos,weeks,rank,...,acousticness,instrumentalness,time_signature,danceability,key,duration_ms,loudness,valence,mode,lyrics
0,1/8/00,2000,The Christmas Song (Chestnuts Roasting On An O...,the christmas song,christina aguilera,christina aguilera,18,18,4,18,...,0.884,0,4,0.392,2,264960,-8.452,0.147,1,Chestnuts roasting on an open fire\nJack Frost...
1,9/2/00,2000,Oops!...I Did It Again,oops!...i did it again,britney spears,britney spears,9,90,20,96,...,0.3,1.77E-05,4,0.751,1,211160,-5.444,0.894,0,"Yeah, yeah, yeah, yeah, yeah, yeah\nYeah, yeah..."
2,9/2/00,2000,Smooth,smooth,santana,santana,1,46,58,48,...,0.16,4.73E-06,4,0.609,9,294987,-3.908,0.961,1,Man it's a hot one\nLike seven inches from the...
3,9/2/00,2000,The One,the one,backstreet boys,backstreet boys,30,93,15,100,...,0.216,0,4,0.689,6,213600,-5.642,0.484,0,You're the one for me\nYou're my ecstasy\nYou'...
4,9/2/00,2000,Where I Wanna Be,where i wanna be,donell jones,donell jones,29,55,20,62,...,0.52,0,4,0.664,5,253627,-9.131,0.453,0,"I said, ""I left my baby girl a message\nSayin'..."

In [19]:
#bllb_df.dtypes
bllb_df.columns

Index(['date', 'year', 'title', 'simple_title', 'artist', 'main_artist',
       'peak_pos', 'last_pos', 'weeks', 'rank', 'change', 'spotify_link',
       'spotify_id', 'video_link', 'genre', 'broad_genre', 'analysis_url',
       'energy', 'liveness', 'tempo', 'speechiness', 'acousticness',
       'instrumentalness', 'time_signature', 'danceability', 'key',
       'duration_ms', 'loudness', 'valence', 'mode', 'lyrics'],
      dtype='object')

In [23]:
sorted_rank = bllb_df.sort_values(by="year", ascending=True)
sorted_bllb_df = sorted_rank.sort_values(by=["year", "weeks"], ascending=False)
sorted_bllb_df.head()

,date,year,title,simple_title,artist,main_artist,peak_pos,last_pos,weeks,rank,...,acousticness,instrumentalness,time_signature,danceability,key,duration_ms,loudness,valence,mode,lyrics
7008,2/25/17,2017,Don't Let Me Down,don't let me down,the chainsmokers,the chainsmokers,3,36,52,44,...,0.157,0.00508,4,0.532,11,208373,-5.094,0.422,1,"Crashing, hit a wall\nRight now I need a mirac..."
7009,2/25/17,2017,Cheap Thrills,cheap thrills,sia,sia,1,30,52,32,...,0.0472,0.00143,4,0.628,6,211667,-5.608,0.732,0,"Come on, come on, turn the radio on\nIt's Frid..."
7134,5/20/17,2017,Can't Stop The Feeling!,can't stop the feeling!,justin timberlake,justin timberlake,1,38,52,39,...,0.0106,0,4,0.669,0,237547,-5.72,0.7,1,I got this feeling inside my bones\nIt goes el...
7108,8/12/17,2017,Closer,closer,the chainsmokers,the chainsmokers,1,36,52,39,...,0.414,0,4,0.748,8,244960,-5.599,0.661,1,"Hey, I was doing just fine before I met you\nI..."
6674,11/4/17,2017,Say You Won't Let Go,say you won't let go,james arthur,james arthur,11,42,52,46,...,0.695,0,4,0.358,10,211467,-7.398,0.494,1,I met you in the dark\nYou lit me up\nYou made...

In [25]:
def top_10(values):
    return list(values[0:10])

In [29]:
df = sorted_bllb_df.groupby("year").agg({
    "main_artist": top_10,
    "weeks": top_10,
    "rank": top_10,
    "broad_genre": top_10,
    "danceability": top_10})
df.head()

,main_artist,weeks,rank,broad_genre,danceability
year,,,,,
2000,"[santana, creed, lonestar, faith hill, joe, 70...","[58, 57, 55, 53, 44, 42, 41, 40, 37, 37]","[48, 49, 50, 47, 45, 48, 50, 48, 48, 48]","[rock, rock, country, country, rap, r&b, rock,...","[0.609, 0.454, 0.557, 0.529, 0.724, 0.719, 0.6..."
2001,"[faith hill, 3 doors down, lee ann womack, cre...","[56, 53, 48, 47, 42, 39, 39, 39, 34, 33]","[48, 49, 48, 41, 47, 48, 50, 48, 46, 50]","[country, rock, country, rock, rock, rock, roc...","[0.627, 0.545, 0.416, 0.42, 0.544, 0.518, 0.72..."
2002,"[lifehouse, train, nickelback, staind, the cal...","[54, 53, 49, 46, 45, 42, 41, 41, 39, 38]","[49, 47, 50, 48, 45, 36, 46, 46, 47, 49]","[rock, rock, rock, rock, rock, country, r&b, r...","[0.531, 0.265, 0.432, 0.509, 0.547, 0.599, 0.9..."
2003,"[3 doors down, r kelly, sean paul, santana, ni...","[45, 42, 39, 37, 36, 35, 34, 34, 33, 32]","[47, 50, 44, 50, 45, 42, 42, 50, 35, 50]","[rock, r&b, rap, rock, r&b, country, rock, roc...","[0.496, 0.787, 0.779, 0.595, 0.879, 0.583, 0.3..."
2004,"[matchbox twenty, 3 doors down, nickelback, li...","[54, 51, 50, 45, 45, 43, 43, 41, 40, 39]","[50, 50, 48, 49, 49, 50, 49, 50, 45, 45]","[rock, rock, rock, rap, r&b, rap, pop, rock, r...","[0.442, 0.536, 0.455, 0.503, 0.894, 0.456, 0.7..."

In [15]:
df["combined"] = df.apply(lambda row: list(zip(row["artist"], row["rank"], )), axis=1)
df.head()

,rank,artist,combined
year,,,
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","[(100, backstreet boys), (100, splender), (100..."
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","[(100, blink-182), (100, lil jon), (100, sarin..."
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","[(100, bbmak), (100, andy griggs), (100, filte..."
2003,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[joe budden, cold, mary j. blige, brian mccoma...","[(100, joe budden), (100, cold), (100, mary j...."
2004,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[nb ridaz, yellowcard, mynt, brandy, cassidy, ...","[(100, nb ridaz), (100, yellowcard), (100, myn..."

In [16]:
df.explode("combined")

,rank,artist,combined
year,,,
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, backstreet boys)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, splender)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, reba mcentire)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, before dark)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, en vogue)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, clint black)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, phil vassar)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, a*teens)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, big punisher)"
2000,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[backstreet boys, splender, reba mcentire, bef...","(100, trina)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, blink-182)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, lil jon)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, sarina paris)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, mark mcguinn)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, 2pac)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, george strait)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, limp bizkit)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, the isley brothers)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, dmx)"
2001,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[blink-182, lil jon, sarina paris, mark mcguin...","(100, sum 41)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, bbmak)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, andy griggs)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, filter)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, donell jones)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, khia)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, angie stone)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, carolyn dawn johnson)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, korn)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, rebecca lynn howard)"
2002,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[bbmak, andy griggs, filter, donell jones, khi...","(100, mario)"
...,...,...,...
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, kip moore)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, 5 seconds of summer)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, mac miller)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, nicki minaj)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, young thug)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, sage the gemini)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, ciara)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, one direction)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, future)"
2015,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[kip moore, 5 seconds of summer, mac miller, n...","(100, a great big world)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, french montana)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, kanye west)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, logic)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, red hot chili peppers)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, alan walker)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, kehlani)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, tove lo)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, dawin)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, big sean)"
2016,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[french montana, kanye west, logic, red hot ch...","(100, 2 chainz)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, shakira)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, future)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, offset)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, lil uzi vert)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, metro boomin)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, dej loaf)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, chris brown)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, future)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, meek mill)"
2017,"[100, 100, 100, 100, 100, 100, 100, 100, 100, ...","[shakira, future, offset, lil uzi vert, metro ...","(100, billy currington)"

In [ ]:
!pip install --upgrade pandas==0.25.0 --user